@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
body {
  color: #fff;
  box-shadow: inset 50px 0px 70px rgba(0, 0, 0, 0.15);
  padding: 0 1em 1em;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 0.9rem;
  }
}
.ausbildungsberufe--col-headline {
  width: 35%;
  margin: 0 0 0 5%;
  padding: 0 5% 0 0;
  line-height: 200%;
}
@media screen and (max-width: 992px) {
  .ausbildungsberufe--col-headline {
    margin-bottom: 8%;
  }
}
.ausbildungsberufe--span {
  margin: 0 0 0.5em;
  font-weight: normal;
  margin-top: 100px;
  color: #0f0f10;
  font-size: 1.8rem;
  font-weight: 700;
}
.ausbildungsberufe--span:nth-child(1) {
  color: #e30613;
  padding-left: 5%;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.ausbildungsberufe--row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90vw;
  padding-top: 10%;
  padding-bottom: 10%;
}
.ausbildungsberufe--row .col {
  flex: 1;
}
.ausbildungsberufe--row .col:last-child {
  margin-left: 1em;
}
@media screen and (max-width: 992px) {
  .ausbildungsberufe--row {
    flex-direction: column;
  }
}
.marginal--wrap {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 4%;
  padding-bottom: 4%;
}

@media screen and (max-width: 414px) {
  .marginal--wrap {
    flex-direction: column;
  }
}

.marginal--details {
  width: 50%;
  line-height: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 414px) {
  .marginal--details {
    width: 100%;
    margin-top: 12%;
  }
}

.marginal--details p {
  color: #e30613;
  font-weight: 700;
  border-bottom: solid #e30613 0.5px;
  padding-bottom: 5px;
  margin: 1% 1% 1% 4%;
}
.marginal--details span {
  line-height: 1.6rem;
  color: #0f0f10;
  font-weight: 400;
  border-bottom: solid #e30613 0.5px;
  padding-bottom: 5px;
  margin: 1% 1% 1% 4%;
}
@media screen and (max-width: 414px) {
  .marginal--details span {
    font-size: 12px;
    line-height: 1.6;
  }
}
.ausbildungsberufe--tab-content {
  font-size: 1.1rem;
  font-weight: 400;
  color: #0f0f10;
}
.ausbildungsberufe--tabs {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.ausbildungsberufe--col {
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f1;
}
.ausbildungsberufe--tab {
  width: 100%;
  color: #0f0f10;
  font-weight: 700;
  overflow: hidden;
  border-top: solid 0.5px #ecf0f1;
  border-bottom: solid 0.5px #ecf0f1;
  box-shadow: inset 50px 0px 70px rgba(0, 0, 0, 0.15);
}
.ausbildungsberufe--tab-label {
  display: flex;
  padding: 1em;
  background: #fff;
  cursor: pointer;
}
.ausbildungsberufe--tab-label:hover {
  background: #0f0f10;
}
.ausbildungsberufe--tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  color: #e30613;
}
.ausbildungsberufe--tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #fff;
  background: white;
  transition: all 0.35s;
}
.ausbildungsberufe--tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: white;
  cursor: pointer;
}
.ausbildungsberufe--tab-close:hover {
  background: #e30613;
}
.ausbildungsberufe--tab-label {
  align-items: center;
  position: relative;
}
.ausbildungsberufe--tab-label::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 30px;
  right: 9px;
  bottom: 0;
  background-color: #e30613;
}
.ausbildungsberufe--tab-label:hover {
  color: #e30613;
}
.marginal--number {
  font-size: 36px;
  color: #e30613;
  overflow: hidden;
  position: absolute;
}
input:checked + .ausbildungsberufe--tab-label {
  color: #e30613;
}
input:checked + .ausbildungsberufe--tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .ausbildungsberufe--tab-content {
  max-height: 100vh;
  padding: 1em;
  font-size: 1.1rem;
  font-weight: 400;
  color: #0f0f10;
  line-height: 175%;
}
.ausbildungsberufe--tab-close {
  color: #e30613;
}
@media screen and (max-width: 992px) {
  .content {
    font-size: 0.8em;
    margin-bottom: 10%;
    line-height: 1.6;
  }
}
.ausbildungsberufe--tab-span {
  color: #e30613;
  padding-left: 2%;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}
